img {
  border-radius: 5%;
  margin-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}


figure:hover img {
  cursor: pointer;
}

figure:hover figcaption {
  bottom: 0;
}


h1 {
  font-family: "Encode Sans SC", sans-serif;
}

figure figcaption {
  position: absolute;
  bottom: -200%;
  background-color: white;
  padding: 10px 30px;
  border: 1.35px solid #1A1110;
  border-radius: 2%;;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  overflow:hidden;
  line-height: 1;
  transition: 0.25s;
}
@media only screen and (max-width: 600px) {
  img{
    margin-top:25%;
  }
  figure figcaption {
   
   height:min-content;
   width:fit-content;
   margin:0 10px;
  }
}
@media only screen and (max-width: 900px) {
  figure figcaption {
   height:fit-content;
   width:fit-content;
   margin:0 10px;
  }
}

figure figcaption img {
  margin-bottom: 10px;
   margin-top:10px;
  margin-left: 0;
}
